body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/background.svg");
}

.upper-left {
    text-align: left;
    float: left;
    width: 30vw;
}

.upper-right {
    font-family: "Arial";
    color: white;
}

pre,
h1,
h2,
.main-text {
    font-family: "Arial";
    color: white;
    font-size: 1.7vw;
}

.body-text {
    margin-top: 2vw;
    clear: both;
    font-size: 1.7vw;
}

h1,
h2 {
    color: white;
    font-size: 2vw;
}

.photo {
    width: 28vw;
    border-radius: 50%;
    border: 3px outset rgba(54, 54, 139, 0.87);
    box-shadow: 0 0 5px #000;
}